h1 {
    font-family: 'Ysabeau Office', sans-serif;
}

p {
    font-family: 'Ysabeau Office', sans-serif;
}

h2 {
    font-family: 'Ysabeau Office', sans-serif;
}

p {
    color: crimson;
}

h1{
    color: crimson;
}
h2{
    color: crimson;
}